body {
  font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: normal;

  background:  url(http://gph.is/1sze4Dn) no-repeat center center fixed;
  background-size: cover;


  font-size: 18px;
  line-height: 1.3em;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
