body {
  font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: normal;

  background:  url(https://media.giphy.com/media/dsQtBSAeCsHsACriCs/giphy.gif) no-repeat center center fixed;
  background-size: cover;


  font-size: 18px;
  line-height: 1.3em;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: aqua;
}